.cop-posts-header {
    border-bottom: thin dashed #ddd;
    padding-bottom: 0.5rem;
    margin-left: -1rem;
    margin-right: -1rem;
    padding-left: 1rem;
    margin-top: -0.5rem;
}

#page-mod-forum-view.path-mod-forum .breadcrumb .breadcrumb-item:nth-of-type(4) {
    display: none;
}

#page-course-view-cop #region-main .card-body {
    padding: 1rem;
}