<div class="col-12 col-lg-4 border-bottom border-right p-3 d-flex flex-column">
    <h4 class="cop-posts-header">{{$boxtitle}} Title of post box {{/boxtitle}}</h4>
    {{$posts}}{{/posts}}
    {{^posts}} <span>You're all caught up.</span>{{/posts}}
    {{$morelink}}{{/morelink}}
</div>