<div class="col-12 col-lg-4 border-bottom border-right p-3">
    <h4 class="cop-posts-header">{{$boxtitle}} Title of post box {{/boxtitle}}</h4>
    <ul class="list-unstyled mb-0">
        {{$posts}}{{/posts}}
    </ul>
</div>