<div class="container">
    <div class="row my-3">
        <div class="col-6 d-flex align-items-center">
            <span class="mr-2">Summary:</span>{{#urlselect}}{{> core/url_select}}{{/urlselect}}</div>
        <div class="col-6 d-flex align-items-center justify-content-end">{{{searchform}}}</div>
    </div>
</div>