{{< format_cop/post_box }}
    {{$boxtitle}} {{boxtitle}} {{/boxtitle}}
    {{$posts}}
        <ul class="list-unstyled mb-0 ml-0">
        {{#posts}}
                <li>
                    <span class="d-block"><a href="{{posturl}}">{{postname}}{{discussionname}}</a></span>
                    <span class="small d-block ml-2">{{userfullname}} {{#modified}}({{modified}}){{/modified}}</span>
                </li>
        {{/posts}}
        </ul>
    {{/posts}}
    {{$morelink}}
        {{#morelink}}
            <a class="mt-auto align-self-end" href="{{morelink}}">More…</a>
        {{/morelink}}
    {{/morelink}}
{{/format_cop/post_box }}